@import url('https://fonts.googleapis.com/css2?family=Delius&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
    color: #344E41;
    background-color: white;
    line-height: 2;
    padding: 20px;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

header {
    background-color: #3A5A40;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: auto;
}

#logo {
    justify-self: left;
    height: 125px;
}

nav {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-left: auto;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px;
    margin-left: auto;
}

nav a:hover {
    background-color: #588157;
    border-radius: 5px;
}

#about-me {
    padding: 40px 20px;
}

#about-me h1, #about-me h2 {
    font-family: "Saira Extra Condensed", sans-serif;
}

#about-me h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: right;
}

#about-me h2 {
    font-size: 2rem;
    margin-top: 20px;
    text-align: center;
}

#about-me p {
    font-size: 1.2rem;
    margin: 10px auto;
}

.about-me-img {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.welcome-container, .blending-container {
    display: flex;
    gap: 20px;
    margin: auto;
}

.welcome-container {
    flex-direction: row;
}

.blending-container {
    margin-top: 20px;
    flex-direction: row;
}

#about-me-img, #blending-img {
    width: 250px;
    height: auto;
}

.connect {
    align-self: center;
    text-align: center;
}

#projects {
    text-align: center;
    padding: 40px 20px;
    background-color: #3A5A40;
    color: white;
}

#projects h2 {
    font-family: "Saira Extra Condensed", sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

.project-preview {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.project-preview .project {
    background: #588157;
    padding: 15px;
    width: 325px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-preview .project img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.project-preview h3 {
    font-size: 1.2rem;
    margin-top: 10px;
}

.project-preview .project a {
    display: block;
    margin-top: 10px;
    padding: 8px 12px;
    background: white;
    color: #3A5A40;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    width: fit-content;
}

.project-preview a:hover {
    background-color: #3A5A40;
    color: white;
}

footer {
    background-color: #344E41;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

footer p:nth-child(1) {
    margin: 0;
}

.footer-links {
    display: flex;
    gap: 10px;
}

.social {
    display: flex;
    gap: 10px;
}

.social a img {
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.social a img:hover {
    transform: scale(1.2);
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.social {
    margin-top: 10px;
}

.social a img {
    width: 30px;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}
.social a img:hover {
    transform: scale(1.2);
}

#project-page h1 {
    text-align: right;
    font-size: 30px;

}

.project-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
}

.project-content .image {
    max-width: 500px; 
}

.project-content .text {
    max-width: 600px; 
}

#hello-world .project-content {
    flex-direction: row-reverse; 
}


#junior-lead .project-content {
    flex-direction: row-reverse;
}

.project-content img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-content h3 {
    margin-top: 15px;
}

#acrylic-paintings .project-content {
    display: flex;
    justify-content: flex-end; 
}

.art-gallery {
    display: flex;
    gap: 20px; 
    justify-content: flex-end; 
}

.art-gallery .image {
    max-width: 250px;
}

.art-gallery img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
